@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*{
    box-sizing: border-box;
  }
body{
    background: linear-gradient(90deg, rgba(168,237,234,1) 0%, rgba(254,214,227,1) 100%);
}
.navbar-expand-lg
{
    background: #82A0D8;
    display: block;
    padding:0;
}
.Logo
{
    width:90px;
}
.navbar-text
{
    color: white;
    font-weight: bolder;
    font-size: 40px;
}
.nav-link
{
    color:white;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 30px;;
}
@keyframes textScale {
    0% { font-size: 16px; }
    100% { font-size: 20px; }
}
.nav-link:focus, .nav-link:focus ~ .nav-link {
  animation: textScale 0.5s forwards;
  padding: 30px 30px;
  background: linear-gradient(180deg, rgba(223,255,216,1) 0%, rgba(185,243,252,1) 100%);
}
.wrapper {
    width: 100%;
    max-width: 33.25rem;
    margin: 4rem auto;
  }
  
  .label {
    font-size: .625rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: +1.3px;
    margin-bottom: 1rem;
  }
  
  .searchBar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  #searchQueryInput {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
  }
  
  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
  }
  
  #searchQuerySubmit:hover {
    cursor: pointer;
  }
.container{
    width: 480px;
    margin-left: auto;
    margin-top: 60px;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    background-color: rgb(255, 255, 255);
    width: 615px;
    height: 200px;
    border-radius: 20px;
    transition: all .3s;
    box-shadow: 4px 4px 20px rgba(1, 1, 1, .2);
    cursor: pointer;
    position: relative;
    margin-bottom: 40px;
}
.box:hover{
    transform: translateY(-10px);
}
.prof{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: url('https://cdn-icons-png.flaticon.com/512/3135/3135715.png');
    background-size: cover;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.Username{
    font-family: "Ostrich Sans Rounded Medium";
    font-size: 1.5rem;
    position: absolute;
    right: 80px;
    bottom: 20px;
    letter-spacing: 2px;
    color: #686868;
}
.like i{
    color: rgb(138, 138, 138);
    font-size: 1.5rem;
    position: absolute;
    left: 20px;
    transition: all .3s;
    bottom: 20px;
}
.like:hover i{
    transform: scale(.9);
}

.img{
    background: url("https://cdn-icons-png.flaticon.com/512/9327/9327582.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    position: absolute;
    left: 20px;
}
.name{
    font-family: "Ostrich Sans Rounded Medium";
    font-size: 1.5rem;
    position: absolute;
    left: 180px;
    font-weight: bold;
    top: 20px;
    letter-spacing: 2px;
    color: #686868;
}
.box p{
    font-family: "Ostrich Sans Rounded Medium";
    font-size: 1rem;
    position: absolute;
    left: 180px;
    font-weight: bold;
    top: 50px;
    letter-spacing: 2px;
    color: #686868;
}