
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
*{
    box-sizing: border-box;
  }
body{
    background: linear-gradient(90deg, rgba(168,237,234,1) 0%, rgba(254,214,227,1) 100%);
}
.navbar-expand-lg
{
    background: #82A0D8;
    display: block;
    padding:0;
}
.Logo
{
    width:90px;
}
.navbar-text
{
    color: white;
    font-weight: bolder;
    font-size: 40px;
}
.nav-link
{
    color:white;
    font-weight: bolder;
    font-size: 20px;
    margin-right: 30px;;
}
@keyframes textScale {
    0% { font-size: 16px; }
    100% { font-size: 20px; }
}
.nav-link:focus, .nav-link:focus ~ .nav-link {
  animation: textScale 0.5s forwards;
  padding: 30px 30px;
  background: linear-gradient(180deg, rgba(223,255,216,1) 0%, rgba(185,243,252,1) 100%);
}
h1{
    font-family: 'Inter',sans-serif;
}
.search-box
{
  height: 100vh;
}
::placeholder
{
  color:#dcdde1;
  opacity: 1;
}
.search-bar
{
  top:35%; left:50%; height: 60px;
  position:absolute;
  padding: 10px;
  background: #7180cd;
  border-radius: 30px;
  transform: translate(-50%,-50%);
  transition: all 0.5s ease;
  display:flex;
  align-items: center;
}
.btn-find
{
  color: white;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  float: right;
  width: 60px;
  transition: 0.4s;
  height: 100%;
  border-radius: 30px;
  border: none;
}
.typing
{
  border:none;
  background: none;
  color: white;
  outline: none;
  padding: 0;
  font-size: 25px;
  float: left;
  flex:1;
  transition: 0.4s;
  font-weight: bold;
  width: 0;
  height: 100%;
}
.search-bar:hover > .typing,.typing:focus
{
  padding:0;
  max-width: 400px;
  width:80%;
}
.search-bar :hover > .btn,
 .typing:focus ~.btn 
{
  background: white;
}
@import "compass/css3";
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font: 1.4em 'entypo', sans-serif;
}
.container
{
  margin:5em auto 0;
  width: fit-content;
  border: 2px solid white;
  border-radius: 3%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
  display: inline-block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}
.select-wrapper
{
  background-color: #eee;
  border: 1px solid #aaa;
  color: #aaa;
  cursor: pointer;
  float:left;
  overflow: hidden;
  padding-right: 3em;
  position: relative;
  width: 100%;
}
.select{
  -webkit-appearance: none;
  background-color: #eee;
  border-width: 0;
  box-sizing: border-box;
  cursor: pointer;
  float: left;
  font-size: 1em;
  line-height: 1.5em;
  padding: 1em 1em;
  width:100%;
  &:focus{
    outline: none;
  }
}
.select-icon
{
  position:absolute;
  top: .8em;
  right: 1em;
  transform: translateY(-50%);
}
.form-container
{ 
  width:50%;
  margin:8em auto 0;
  border: 2px solid white;
  border-radius: 3%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  padding: 30px;
  display: inline-block;
  position: absolute;
  top: calc(100% + 100px); 
  left:50%;
  transform: translate(-50%,-50%);
  background: white;
}
.inner-container
{
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3%;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.title {
  margin-left: 35%;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.steps {
  margin-left: 40%;
  font-size: 18px;
  color: #555;
}

.post-title {
    font-size: 20px;
    color: #333;
}

.description {
    color: #777;
    margin-top: 10px;
}